{% extends 'base.html.twig' %}

{% block body %}
    <h1>Správa kontaktů</h1>

    <ul>
        {%  for contact in all %}
        <li>{{  contact.id}}: {{  contact.name }} {{  contact.email }} <a href="{{ path('delete', { id: contact.id } ) }}">Smazat</a></li>
        {% endfor %}
    </ul>

    <a href="{{ path('homepage') }}">Nový záznam</a>
{% endblock %}
